# {{ ansible_managed }}

# Configuration file for JupyterHub

# Copyright (c) Jupyter Development Team.
# Distributed under the terms of the Modified BSD License.
import os

c = get_config()

{% if k8s_helm_build is defined and k8s_helm_build %}

{% include 'helm_hub_config.py.j2' %}

{% else %}

{% include 'docker_hub_config.py.j2' %}

{% endif %}

