c.JupyterHub.authenticator_class = 'ldapauthenticator.LDAPAuthenticator'
c.LDAPAuthenticator.server_address = "{{ ldap_domain }}"
c.LDAPAuthenticator.bind_dn_template = '{{ ldap_bind_dn_template }}'
c.LDAPAuthenticator.allowed_groups = [
    "{{ ldap_allowed_group }}"
]

c.LDAPAuthenticator.lookup_dn = True
c.LDAPAuthenticator.lookup_dn_search_filter = '({login_attr}={login})'
c.LDAPAuthenticator.lookup_dn_search_user = '{{ ldap_search_user }}'
c.LDAPAuthenticator.lookup_dn_search_password = '{{ ldap_search_password }}'
c.LDAPAuthenticator.user_search_base = '{{ ldap_user_search_base }}'
c.LDAPAuthenticator.user_attribute = '{{ ldap_user_attribute }}'
c.LDAPAuthenticator.lookup_dn_user_dn_attribute = 'cn'
c.LDAPAuthenticator.escape_userdn = False